name: Deploy-to-Test

on:
  workflow-dispatch:

defaults:
  run:
    shell: bash
    working-directory: ./

jobs:
  deployment:
    runs-on: ubuntu-20.04
    environment:
      name: test
    steps:
      - uses: actions/checkout@v2

      - name: Login Openshift
        shell: bash
        run: |
          oc login --server=${{secrets.OPENSHIFT_LOGIN_REGISTRY}} --token=${{secrets.OPENSHIFT_SA_TOKEN}}

      - name: Tag Images and Rollout
        shell: bash
        run: |
          oc project ${{ secrets.OPENSHIFT_REPOSITORY }}-tools
          oc tag epictrack-api:latest epictrack-api:test
          oc tag epictrack-web:latest epictrack-web:test
          
          oc rollout status dc/epictrack-api -n ${{ secrets.OPENSHIFT_REPOSITORY }}-test -w
          oc rollout status dc/epictrack-web -n ${{ secrets.OPENSHIFT_REPOSITORY }}-test -w
